body {
  background-color: var(--gray-9);
  color: var(--gray-2);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-3);
}

.App {
  width: 70ch;
  margin: var(--size-8) auto;
  padding: var(--size-2);
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  opacity: 0;
}
.post {
  max-width: 23%;
  animation: var(--animation-slide-in-right), var(--animation-fade-in) forwards;
}
.post img {
  object-fit: cover;
  aspect-ratio: 16 /9;
}
